a { text-decoration: none; }
img { border: none; }
body {
  text-align: center;
   margin-left:200px;
   margin-right:200px;
}
#form {
  text-align: left;
  font-size: 17px;
}
legend {
	color: #b00000;
}
#footer {
	border: 1px solid;
}

#menu {
	background-color:9698af;
}
