a { text-decoration: none; }
img { border: none; }
body {
   width:700px;
   margin-left:250;
   margin-right:250;
   border:1px solid;
   background-color:#c0d4d1;
}
legend {
	color: #b00000;
}
#footer {
	border: 1px solid;
	text-align:center;
}

#menu {

	background-color:#A0B0B7;
	height:40px;
	text-align:center;
}
#form {
  background-color:   #eeeeee; /* gray */
  color:              #404142;
  margin-top:50px;
}

#login {
	width:200px;
	margin-left:498px;
	margin-top:-140px;
	height:98px;
    border:1px solid #c0d4d1;
   background-color:#c0d4d1;
}
 
#banner {
	width: 700px;
	height:100px;
	background-color:   #eeeeee; /* gray */
}

#text {
  width: 400px;
  height:400px;
  text-align: center;
  background-color:   #c0d4d1; /* gray */
  border-radius:      8px;
  border:             1px solid #c0d4d1; /* cercevemiz */
  margin-top: -300px;
  margin-left: 298px;
  font-family:    helvetica, geneva, arial, sans-serif;
  font-size:15px;
  display: block;
}

#res {
	width: 300px;
   height:300px;
   margin-left: 0px;
   background-color:red;
}
#box {
	margin-left:75px;
	margin-top:20px;
}
#contain {
	margin-top:40px;
	text-align:center;
}

#hiza {
	margin-top:10px;
}
#pbutton {
	margin-left:400px;
}
	
